<!-- <mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<app-checkbox></app-checkbox>
<app-radio></app-radio>
<app-button></app-button> -->
<!-- <app-forms></app-forms> -->
<!-- <app-register></app-register> -->
<!-- <app-login-form></app-login-form> -->
<!-- <div>
  <ul class="nav nav-tabs">
    <li routerLinkActive="active">
      <a routerLink='app-home'>HOME</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink='app-fruit'>FRUITS</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink='app-vegetable'>VEGETABLES</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div> -->

<router-outlet></router-outlet>

<!-- <div>

  <ul class="nav nav-tabs" style="height:50px">
    <li routerLinkActive="active"><a [routerLink]="['/app-home']">HOME</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/app-fruit']">FRUITS</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/app-vegetable']">VEGETABLES</a></li>
    <li><button [routerLink]="['/app-login-form']" type="button" class="btn btn-outline-warning" style="margin-left: 1350px;height: 50px;width: 150px;color: black;font-weight: bold;">LogOut</button></li>
  </ul>
  <router-outlet></router-outlet>
</div> -->


