<p>
  button works!
</p>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous">

<button mat-button>Click-Me!</button><br>
<button mat-raised-button>Click-Me!</button><br>
<button mat-flat-button>Click-Me!</button><br>
<button mat-stroked-button>Click-Me!</button><br>
<button mat-icon-button>Click-Me!</button><br>
<button mat-fab>Click-Me!</button><br>
<button mat-mini-fab>Click-Me!</button><br>

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-success">Sucess</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-dark">Dark</button><br><br>

<button type="button" class="btn btn-outline-primary">Primary</button>
<button type="button" class="btn btn-outline-danger">Danger</button>
<button type="button" class="btn btn-outline-success">Sucess</button>
<button type="button" class="btn btn-outline-secondary">Secondary</button>
<button type="button" class="btn btn-outline-light">Light</button>
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-dark">Dark</button><br><br>

<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  Tooltip on top
</button>