<div class="container" style="background-color:aqua">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets/straw.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body" style="margin-left: 100px;">
          <h1 class="card-title">StrawBerry Fruit</h1>
          <h2 class="card-text">{{"MRP.50/RS"}}</h2>
          <h3>{{"1/kg"}}</h3>
          <input value='   Price-150/Rs (15% Off)' style="margin-top: 5%;margin-left: 40px;"><br>
          <button type="submit" class="btn btn-outline-warning" style="border-color: black;" (click)="onCreate()">Buy-Now</button>
          <button type="submit" class="btn btn-outline-primary" style="margin-left: 35px; border-color: black;" (click)="back()">Back</button>

        </div>
      </div>
    </div>
  </div>
</div>